* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: grey;
    min-height: 10vh;
}

hgroup {
    color: lightgrey;
    margin: auto;
}

h1 {
    font-size: 2em;
}

nav {
    margin: auto;
    background-color: darkgrey;
}

nav ul {
    padding: 1em;
}

nav ul li {
    display: inline;
    color: lightgrey;
    padding: 1em;
}

.main-images {
  display: flex;
  flex direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
