* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: grey;
    min-height: 10vh;
    margin-bottom: 1em;
}

hgroup {
    color: lightgrey;
    margin: auto;
}

h1 {
    font-size: 2em;
}

nav {
    margin: auto;
    background-color: darkgrey;
}

nav ul {
    padding: 1em;
}

nav ul li {
    display: inline;
    padding: 1em;
}

a {
    color: lightgrey;
    text-decoration: none;
}

.main-images {
    display: flex;
    flex direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.main-images img {
  height: 300px;
}

figure {
    margin: .25em;
}

.main-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

article {
    width: 25%;
    margin: 1em;
}

article img {
  width: 80px;
}

h2 {
  margin-bottom: 1em;
  color: lightgrey;
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  color: lightgrey;
  font-size: 1.25em;
  line-height: 1.5;
}

.article-image {
  margin-right: .5em;
  margin-bottom: .5em;
  float: left;
}

details {
  color: orange;
  margin-top: 1em;
  float: right;
}

footer {
    min-height: 7.5vh;
    background-color: grey;
    display: flex;
    flex-direction: row;
}

small {
    color: lightgrey;
    margin: auto;
}
